<header class="masthead">
  <div class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </div>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="AA Times logo">

    <ul class="masthead-links">
      <li>Tuesday, October 18, 2016</li>
      <li>
        <i class="fa-solid fa-newspaper"></i>
        <a href="#">Today’s Paper</a>
      </li>
      <li>
        <i class="fa-solid fa-video"></i>
        <a href="#">Video</a>
      </li>
      <li><button><a href="#">77°F</a></button></li>
      <li><button><a href="#">AAO <strong>+100%</strong></a></button></li>
    </ul>


</header>
