@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 7px 9px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: .875rem;
      text-transform: uppercase;
      margin: 5px;
    }
  }

  span {

  }
}

.right-nav  {
  > ul {
    > li {

    }

    > li:last-of-type {
      font-size: 18px;
    }
  }

  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
